repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check --color always
        pass_filenames: false
        language: system
        types: [rust]
